<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-offset-2 col-log-offset-8">

    <h2>Login</h2>

    <div class="form">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="email">
        <span class="input-group-btn">
            <button class="btn btn-info" ng-disabled="form.$invalid" type="button" ng-click="loginUser()"><span
              class="form-group"></span>Login</button> </span>
        <span ng-show="form.mail.$dirty && form.mail.$error.required" class="help-block">Wrong mail</span>
      </div>
    </div>
  </div>
</div>